<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;flex-direction:column;text-align:center">
        <h1 >Hola coder</h1>
        <p>Aca estamos re loco viejo</p>
        <p>Mi nombre es : {{nombre}}</p>
        <p>Mi apellido es: {{apellido}}</p>
        <p>Mis notas son: </p>
        <p>
            {%for n in notas %}
                {%if n < 4 %}
                    <p style="color:aqua"> desaprobe, puta: {{n}}</p>
                {%else%} 
                    <p style="color:aqua">Aprobe, prostituta {{n}}</p>
                {%endif%}
            {%endfor%}
        </p>
    </div>
</body>
</html>